#modalContainer .modal {
    width: 100%;
    height: 98%;
}

#modalContainer .modal-dialog {
    width: 90vw;
    height: auto;
    max-width: none;
    padding-bottom: 0;
}

#modalContainer .modal-header{
    height: 3vh;
}

#modalContainer .modal-body{
    height: auto;
    padding-top: 0;
    overflow: hidden;
    overflow-y: scroll;
}

#modalContainer .modal-body *{
    font-size: 3vw;
    font-weight: normal;
}

#modalContainer .fs-5{
    font-size: 4vw!important;
    font-weight: bold;
}

#modalContainer video{
    width: 100%;
    min-width: 100%;
    height: 40%;
}

#modalContainer section .content_explain{
    margin: 0;
    padding: 0;
    height: 60%;
    line-height: 35px;
    font-size: 2.5vw;
    padding-left: 5px;
    overflow: hidden;
    overflow-y: visible;
}
