#modalContainer .modal {
    width: 100%;
    height: 100%;
}

#modalContainer .modal-dialog {
    width: 90vw;
    height: 40%;
    max-width: none;
}

#modalContainer .modal-body *{
    font-size: 3vw;
    font-weight: normal;
}

#modalContainer .fs-5{
    font-size: 4vw!important;
    font-weight: bold;
}

#modalContainer video{
    width: 100%;
    height: auto;
}

#modalContainer .content_explain{
    font-size: 2.5vw;
    line-height: 40px;
}