html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*전체 div flex*/
.all {
  display: flex;
  width: 100%;
  height: 100%;
}

/*네비게이션 바*/
.navigation {
  border: solid 3px black;
  border-right: none;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list_menu {
  width: 80%;
  height: 100%;
  padding: 2vw;
}

.navigation_all_box{
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_line {
  border: solid 2px black;
  height: 11.5%;
  display: flex;
  margin: 0 5px;
}

/*단계별 가운데 선*/
.level_line {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.center {
  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 25vh;
}

/*각 단계 버튼*/
.level_button {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .level_name {
      padding: .8rem;
      font-weight: bold;
  }

  .circle {
      width: 2rem;
      height: 2rem;
      border: solid 3px black;
      border-radius: 50%;
      background-color: pink;
      margin-right: 5px;
  }

  .circle_name {
      text-align: center;
      margin: 0;
      font-size: 3vw;
      font-weight: bold;
  }
}

/*주문리스트 미리보기*/
.select_list{
  height: 25%;
  border-top: solid 3px black;
}

.select_list_title{
  font-weight: bold;
  text-align: center;
  height: 15%;
  font-size: 2.5vw;
}

.select_list_list{
  border: solid 2px blue;
  padding-right: 1px;
  height: 80%;
  overflow: hidden;
  overflow-y: visible;
}

.select_list_detail{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.7vh;
  padding-top: .3rem;
  border-bottom: solid 1px blue;
}

@media screen and (max-width: 380px) {
  .select_list_title{
    width: 100%;
    font-size: 0.1rem;
  }
  .select_list_detail{
    display: block;
    font-size: 0.1rem;
    margin: 0;
    padding: 0;
    border-bottom: solid 2px blu;
  }
  .select_num{
    text-align: end;
  }
  @media screen and (max-height: 500px){
    .select_list_title{
      padding: 0 5%;
      margin-bottom: 20%;
    }
    .select_list_list{
      height: 75%;
    }
  }
}


/*주문 리스트*/
.box {
  border: solid 3px rgb(21, 15, 15);
}

.text-center {
  height: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

/*주문 목록 글씨*/
.list_name {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
}
@media (max-width: 360px) {
  .list_name{
    font-size:5vw;
  }
  .sizes{
    font-size: 0.3rem;
  }
}

.help{
  position: absolute;
  width: 5%;
  right: 1%;
  top: 1%;
}

/*주문 리스트*/
.list_box {
  display: grid;
  height: 70%;
  overflow: hidden;
  overflow-x: hidden; 
  position: relative;
}

.list_content_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:2%;
  align-items: center;
  position: relative;
}

.list_img_box {
  width: 65%;
  height: 65%;
  border: none;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

.list_img_size {
  width: 100%;
  height: 100%;
}

/*주문 정보*/
.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.content_title {
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu_name {
  font-size: 2.5vw;
  text-align: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 360px) {
  .menu_name {
    font-size: .2vw;
  }

  .menu_cost {
    font-size: 0.4rem;
  }
}

.menu_cost {
  padding: 0;
  text-align: center;
  font-size: 2.5vw;
  margin: 0;
}


.list_content_info {
  flex-direction: column;
  width: 100%;
  height: 35%;
  border: none;
  border-top: solid 2px black;
}

/*하단 고정 버튼*/
.fix_button {
  height: 12.3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: none;
}

.fix_button_detail{
  width: 20vw;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
  font-weight: bold;
  font-size: 2vw;
}
.fix_button_detail:hover{
  background-color: skyblue;
  color: white;
  border: solid 1px skyblue;
}

/*카테고리*/
.categores {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

.categore {
  display:grid;
  border:1px solid black;
  
}

.categore a {
  display: block;
  text-align: center;
  font-size: 3vw;
  text-decoration: none;
  color:black;
  background-color: #dddddd;
}
@media (max-width: 360px) {
  .categore{
    font-size: 0.2rem;
  }
}

/* 기본 더크게 검색 nav바*/
.add_fuc_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.view_button{
  width: 50%;
  font-size: 2.5vw;
}

/* 검색 입력창*/
input[type="search"] {
  padding: 1vw;
}

.search_icon{
  height: 5vw;
}



/*슬라이드 창*/
.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.slider {
  display: flex;
  width: 100%;
  height: 100%; /* 슬라이드 개수에 따라 조정합니다. 각 슬라이드는 100% 너비를 가집니다. */
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: visible;;
}


/*슬라이드 창 버튼*/
#prevBtn {
  position: absolute;
  top: 50%;
  height: 10%;
  width: 10%;
  
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 255, 128);
}

#nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  height: 10%;
  width: 10%;

  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(255, 255, 128);
}

/*전체적 사이즈 조절 */
@media screen and (min-width: 600px) {
  .slider-container {
      grid-template-columns: repeat(3, 1fr); /* 화면 크기가 768px 이하일 때 2개의 열로 조정 */
  }
  .list_box{
    height: 70%;
  }
  .slide{
    grid-template-rows: repeat(3,33%);
  }
  .menu_name{
    font-size: 1.5vw;
  }
  .menu_cost{
    font-size: 1.5vw;
  }
  .sizes{
    font-size: 1rem;
  }
  input[type="search"] {
      padding: 1vw;
      height: 1rem;
  }
  .searchs{
    height: 3vw;
  }
  
}

@media screen and (min-width:1000px) {
  .slider-container {
      grid-template-columns: repeat(3, 1fr); /* 화면 크기가 768px 이하일 때 2개의 열로 조정 */
  }
  .list_box{
    height: 68%;
  }
  .list_name{
    font-size: 2vw;
  }
  .help{
    width: 3%;
    height: 5%;
  }
  .slide{
    grid-template-rows: repeat(3,33%);
  }
  .menu_name{
    font-size: 1vw;
  }
  .menu_cost{
    font-size: 1vw;
  }
  .sizes{
    font-size: 1rem;
  }
  
  input[type="search"] {
      padding: 1vw;
      height: 1rem;
      
  }
  .searchs{
    height: 3vw;
  }
  .categores{
    height: 2.5vw;
    margin: 0;
  }
  .categore a{
    font-size:2vw;
    
  }
}