html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*전체 div flex*/
.all {
  display: flex;
  width: 100%;
  height: 100%;
}

/*네비게이션 바*/
.navigation {
  border: solid 3px black;
  border-right: none;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list_menu {
  width: 80%;
  height: 100%;
  padding: 2vw;
}

.navigation_all_box {
  height: 75%;
  padding: 0 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_line {
  border: solid 2px black;
  height: 11.5%;
  display: flex;
  margin: 0 5px;
}

/*단계별 가운데 선*/
.level_line {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.center {
  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 25vh;
}

/*각 단계 버튼*/
.level_button {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.level_name {
  padding: 0.8rem;
  font-weight: bold;
}

.circle {
  width: 2rem;
  height: 2rem;
  border: solid 3px black;
  border-radius: 50%;
  background-color: white;
  margin-right: 5px;
}

.circle_name {
  text-align: center;
  margin: 0;
  font-size: 3vw;
  font-weight: bold;
  width: 50%;
}

/*주문리스트 미리보기*/
.select_list {
  height: 25%;
  border-top: solid 3px black;
}

.select_list_title {
  font-weight: bold;
  text-align: center;
  height: 15%;
  font-size: 2.5vw;
  margin-bottom: 5px;
}

.select_list_list {
  border: solid 2px blue;
  height: 80%;
  overflow: hidden;
  overflow-y: visible;
  margin: 0 1PX;
  padding-top: 2px;
}

.select_list_detail {
  font-weight: bold;
  font-size: 2vw;
  border-bottom: solid 2px black;
  margin-bottom: 8px;
  margin-left: 2px;
  padding: 0 2px;
}

.select_num {
  text-align: end;
}

@media screen and (max-width: 360px) {
  .select_list_detail {
    font-size: 4px;
  }
  .circle_name{
    font-size: 1vw;
  }
  .circle{
    width: 5vw;
    height: 5vw;
    padding: 0;
    margin-right: 3px;
  }
  
  .add_fuc_bar .view_button{
    width: 40%;
  }

  .search{
    height: 4vw;
    font-size: 3.5vw;
  }
}

/*주문 리스트*/
.box {
  border: solid 3px black;
}

.text-center {
  height: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

/*주문 목록 글씨*/
.list_name {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
}

.help {
  position: absolute;
  width: 12%;
  right: 1%;
  top: 1%;
}

.list_box {
  padding: 1vw;
  height: 70%;
  overflow: hidden;
  overflow-y: visible;
}

.list_content_box {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  margin: 1vw;
}

.list_img_box {
  width: 35%;
  height: var(width);
  padding: 10px;
  border: solid 2px black;
}

.list_img_size {
  width: 100%;
}

.list_content_info {
  width: 63%;
}

.content_title {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.menu_name {
  width: 60%;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_cost {
  border-left: solid 3px black;
  width: 40%;
  padding-left: 1rem;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0%;
  padding: 0;
}


/*옵션*/
.list_option {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 45%;
  overflow: hidden;
  overflow-y: visible;
}

.list_option div {
  height: 100%;
  font-size: 2.5vw;
}

.list_buttons {
  height: 30%;
  display: flex;
  justify-content: end;
}

/* 선택 버튼*/
.selectBtn {
  height: 80%;
  width: 50%;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  font-size: 3vw;
  margin-right: 2%;
}


.selectBtn:hover {
  background-color: skyblue;
  color: white;
  border: solid 1px skyblue;
}

/*하단 고정 버튼*/
.fix_button {
  height: 12.3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: none;
}

.fix_button_detail {
  width: 20vw;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
  font-weight: bold;
  font-size: 3vw;
}

.fix_button_detail:hover {
  background-color: skyblue;
  color: white;
  border: solid 1px skyblue;
}

/*카테고리*/
.categories {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.category {
  display: grid;
  border: 1px solid black;
}

.category a {
  display: block;
  text-align: center;
  font-size: 3vw;
  text-decoration: none;
  color: black;
  background-color: #dddddd;
}

@media (max-width: 360px) {
  .categore {
    font-size: 0.2rem;
  }
}

/* 기본 더크게 검색 nav바*/
.add_fuc_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.view_button {
  width: 30%;
  font-size: 2.5vw;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

/* 검색 입력창*/
.search_div {
  width: 50%;
}

.search {
  width: 80%;
  font-size: 3.5vw;
}

.search_icon {
  height: 5vw;
}

/*전체적 사이즈 조절 */

@media screen and (max-width : 310px) {
  .search_div {
    width: 50%;
  }

  .search {
    height: 20px;
    width: 70%;
  }

  .navigation {
    border: solid 3px black;
    border-right: none;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .list_menu {
    width: 75%;
    height: 100%;
    padding: 2vw;
  }
}

@media screen and (min-width: 600px) {

  .list_box {
    height: 70%;
  }

  .menu_name {
    font-size: 3vw;
  }

  .menu_cost {
    font-size: 4vw;
  }

  .sizes {
    font-size: 1.5rem;
  }

}

@media screen and (min-width:1000px) {

  .list_box {
    height: 75%;
  }

  .list_name {
    font-size: 4vw;
  }

  .help {
    width: 3%;
    height: 5%;
  }

  .menu_name {
    font-size: 2vw;
  }

  .menu_cost {
    font-size: 2vw;
  }

  .list_option {
    font-size: 2vw;
  }

  .sizes {
    font-size: 1rem;
  }

  input[type="search"] {
    padding: 1vw;
    height: 1rem;
  }

  .search {
    width: 25vw;
  }

  .search {
    height: 3vw;
  }

  .categories {
    height: 2.5vw;
    margin: 0;
  }

  .category a {
    font-size: 2vw;
  }

}