html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*전체 div flex*/
.all {
    display: flex;
    width: 100%;
    height: 100%;
}

/*네비게이션 바*/
.navigation {
    border: solid 3px black;
    border-right: none;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list_menu {
    width: 80%;
    height: 100%;
    padding: 2vw;
}

.navigation_all_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_line {
    border: solid 2px black;
    height: 11.5%;
    display: flex;
    margin: 0 5px;
    border-radius: 10px;
}

/*단계별 가운데 선*/
.level_line {
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.center {
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 25vh;
}

.now {
    animation: progressAnimation 2.3s linear infinite;
}

@keyframes progressAnimation {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

/*각 단계 버튼*/
.level_button {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.level_name {
    padding: 0.8rem;
    font-weight: bold;
}

.circle {
    width: 1.7rem;
    height: 1.7rem;
    border: solid 3px black;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
}

.circle_name {
    text-align: center;
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
    width: auto;
}


/*포장 확인*/

.take_out {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.take_out_title {
    font-weight: bold;
    font-size: 3vw;
    padding-right: 1rem;
    width: 40%;
    text-align: end;
}

.take_out .list-group {
    width: 60%;
    display: flex;
    flex-direction: row;
}

.list-group .list-group-item {
    border: none;
    width: 100%;
    font-weight: bold;
    display: flex;
    padding: 0;
    align-items: center;
}

.list-group .list-group-item label {
    font-size: 2.5vw;
    width: 80%;
}

.list-group-item .form-check-input {
    border: solid 2px black;
    margin-top: 0;
}

/*주문 리스트*/
.box {
    border: solid 3px black;
}

.list_box {
    padding: 1vw;
    height: 64.3%;
    overflow: hidden;
    overflow-y: visible;
}

.text-center {
    height: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

/*주문 목록 글씨*/
.list_name {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
}

.help {
    position: absolute;
    width: 12%;
    right: 1%;
    top: 1%;
}

/* .list_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1vw;
    height: 35%;
    border: none;
} */

.list_content_box {
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    margin: 1vw;
    border-radius: 15px;
    background-color: #dee2e6;
    height: 35%;
}

.list_content_box * {
    background-color: white;
}

.list_img_box {
    width: 35%;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 10px;
}

.list_img_size {
    width: 100%;
    height: 100%;
}

/*주문 정보*/
.container {
    height: 100%;
    padding: auto;
    border-radius: 10px;
}

.content_title {
    font-weight: bold;
    text-align: center;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content_title .menu_name {
    font-size: 2.5vw;
    text-align: center;
    padding: 0;
    padding-left: 8px;
    border-right: solid 1px gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top-left-radius: 10px;
}

.content_title .menu_cost {
    padding: 0;
    text-align: center;
    font-size: 2.5vw;
}

.split_border{
    border: solid 2px orange;
  }

.list_content_info {
    border: solid 1px gray;
    width: 63%;
    padding: 0;
    border-radius: 10px;

}

/*옵션*/
.list_option {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 55%;
}

.list_option .list_option_detail {
    padding: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: visible;
}

.list_option_detail .option_detail {
    margin: 0;
    width: 100%;
    font-size: 2.5vw;
    font-weight: bold;
    border-bottom: solid 1px gray;
}

.option_detail div {
    padding: 0;
    padding-left: 8px;
    text-align: left;
}


/*수량 체크(text)*/
.list_buttons {
    height: 25%;
    border-bottom-left-radius: 10px;
}

.button_box_num {
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
}

.button_num {
    font-size: 3vw;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
}

/* 수정&삭제 버튼*/
.content_update_button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px gray;
}

.content_update_button button {
    width: 45%;
    height: 90%;
    background-color: white;
    font-weight: bold;
    font-size: 3vw;
    border-radius: 20%;
}

.content_update_button button:hover {
    background-color: skyblue;
    color: white;
    border: solid 1px skyblue;
}

/*최종 금액*/
.total_cost_box {
    height: 10%;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4vw;
}

.total_cost {
    margin-left: 1vw;
}

/*하단 고정 버튼*/
.fix_button {
    height: 12.3%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: none;
}

.fix_button_detail {
    width: 20vw;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    border: solid 2px black;
    font-weight: bold;
    font-size: 3vw;
}

.fix_button_detail:hover {
    background-color: skyblue;
    color: white;
    border: solid 1px skyblue;
}


@media screen and (min-width:1000px) {
    .list-group-item label {
        font-size: 2vw;
        width: 80%;
    }

    .list_box {
        padding: 1vw;
        height: 68%;
        margin-top: 2%;
        overflow: hidden;
        overflow-y: visible;
    }

    .take_out_title {
        font-weight: bold;
        font-size: 2vw;
        padding-right: 1rem;
        width: 40%;
        text-align: end;
    }

    .button_num {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2vw;
        text-align: left;
        font-weight: bold;
    }

    .list_option {
        margin-top: 1%;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        height: 55%;
    }

    .list_content_box {
        display: flex;
        justify-content: space-between;
        margin: 1vw;
        height: 45%;
        border: none;
    }

    .content_update_button {
        height: 96%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-left: solid 2px black;
    }

    .content_update_button button {
        width: 45%;
        height: 85%;
        background-color: white;
        font-weight: bold;
        font-size: 1.5vw;
        border-radius: 20%;
    }

    .take_out_title {
        font-weight: bold;
        font-size: 2vw;
        padding-right: 1rem;
        width: 40%;
        text-align: end;
    }

    .list-group-item label {
        font-size: 2vw;
        width: 80%;
    }

    .menu_name {
        font-size: 2vw;
        text-align: left;
        padding: 0;
        border-right: solid 2px black;
    }

    .menu_cost {
        padding: 0;
        text-align: left;
        font-size: 2vw;
    }

    .option_detail {
        padding: 0;
        margin: 0;
        font-size: 2vw;
        font-weight: bold;
    }
}