#modalContainer .modal_size{
    height:95%;
}

#modalContainer .modal-body{
    overflow: hidden;
    overflow-y: visible;
}

#modalContainer .box{
    border: solid 2px black;
}

#modalContainer .top_box{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalContainer .input{
    border: none;
    border-bottom: solid 3px black;
    padding-right: 2vw;
    font-size: 3vw;
}

#modalContainer .search_icon{
    width: 7%;
}

#modalContainer .keyword_box{
    height: 50%;
    overflow: hidden;
}

#modalContainer .keyboard_size{
    border: solid 2px black;
    width: 100%;
    height: 43%;
}

#modalContainer .simple-keyboard{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

