.modal_size{
    height:95%;
}

.box{
    border: solid 1px red;
}

.top_box{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_menu_name{
    border: none;
    border-bottom: solid 3px black;
    padding-right: 2vw;
}

.search_icon{
    background-color: white;
    border-radius: 50%;
    border: solid 2px black;
}




.keyword_box{
    height: 30%;
}
