.modal_size{
    height:95%;
}

.modal-body{
    overflow: hidden;
    overflow-y: visible;
}

.box{
    border: solid 2px black;
}

.top_box{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    border: none;
    border-bottom: solid 3px black;
    padding-right: 2vw;
    font-size: 3vw;
}

.search_icon{
    width: 7%;
}

.keyword_box{
    height: 50%;
    overflow: hidden;
}

.keyboard_size{
    border: solid 2px black;
    width: 100%;
    height: 43%;
}

.simple-keyboard{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

