html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*전체 div flex*/
.all {
  display: flex;
  width: 100%;
  height: 100%;
}

/*네비게이션 바*/
.navigation {
  border: solid 3px black;
  width: 20%;
  height: 100%;
}

.list_menu {
  width: 80%;
  height: 100%;
  padding: 2vw;
}

.navigate_name {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.box_line {
  border: solid 2px black;
  height: 11.5%;
  display: flex;
  margin: 0 5px;
}

/*단계별 가운데 선*/
.level_line {
  display: flex;
  justify-content: space-around;
  padding: 2vh;
}

.center {
  width: .5vw;
  max-width: 2rem;
  max-height: 25vh;
}

/*각 단계 버튼*/
.level_button {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .level_name {
      padding: .8rem;
      font-weight: bold;
  }

  .circle {
      width: 2rem;
      height: 2rem;
      border: solid 3px black;
      border-radius: 50%;
      background-color: pink;
      margin-right: 5px;
  }

  .circle_name {
      text-align: center;
      margin: 0;
      font-size: 3vw;
      font-weight: bold;
  }
}

/*주문 리스트*/
.box {
  border: solid 3px black;
}

.text-center {
  height: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

/*주문 목록 글씨*/
.list_name {
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
}

.list_box {
  display: grid;
  grid-template-columns: repeat(6,33%);
  grid-template-rows: repeat(3,33%);
  padding: 1%;
  height: 70%;
  overflow: hidden;
  overflow-x: visible;
}

.list_content_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:2%;
  align-items: center;
}

.list_img_box {
  width: 65%;
  height: 65%;
  border: solid 2px rgb(26, 218, 167);
}

.list_img_size {
  border: solid 1px red;
  width: 100%;
  height: 100%;
}

/*주문 정보*/
.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.content_title {
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 100%;
  border: solid 1px greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu_name {
  font-size: 2.5vw;
  text-align: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

@media (max-width: 360px) {
  .menu_name {
    font-size: .2vw;
  }

  .menu_cost {
    font-size: 0.4rem;
  }
}

.menu_cost {
  padding: 0;
  text-align: center;
  font-size: 2.5vw;
  margin: 0;
}


.list_content_info {
  flex-direction: column;
  width: 100%;
  height: 35%;
  border: none;
  border-top: solid 2px black;
}

/*하단 고정 버튼*/
.fix_button {
  height: 12.3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: none;
}

.fix_button_detail{
  width: 20vw;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
  font-weight: bold;
  font-size: 2vw;
}
.fix_button_detail:hover{
  background-color: skyblue;
  color: white;
  border: solid 1px skyblue;
}

/*카테고리*/
.categores {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

.categore {
  display:grid;
  border:1px solid black;
  
}

.categore a {
  display: block;
  text-align: center;
  font-size: 3vw;
  text-decoration: none;
  color:black;
  background-color: #dddddd;
}


/* 기본 더크게 검색*/
.sizes{
  display: flex;
  font-size: 2vw;
  margin: 1%;
  justify-content: space-between;
  align-items: center;
  
}
.menu-search{
 display: flex;
 justify-content: flex-end;
}

.search{
  
  height: 5vw;
}