html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.all {
    width: 100%;
    height: 100%;
}

.helping {
    position: absolute;
    width: 12%;
    right: 1%;
    top: 1%;
    height: auto;
}

.ordernum {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order {
    border: solid 2px red;
    width: 60%;
    height: 55%;
    margin-top: -10vh;
}

.closeimg {
    width: 100%;
    display: flex;
    justify-content: end;
}

.close {
    padding-top: 2%;
    padding-right: 2%;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completed {
    font-size: 4.5vh;
    font-weight: bold;
    margin-top: -10vh;
}

.waitnum {
    font-size: 3vh;
}

.num {
    font-size: 5vh;
    font-weight: bolder;
    background-color: lightgray;
    width: 20vw;
    text-align: center;
}

.gohome {
    font-size: 3vw;
    background-color: white;
    height: 8vh;
    margin-top: 4vh;
}

.gohome_ button{
    border-radius: 10px;
}