html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.all {
    display: flex;
    width: 100%;
    height: 100%;
}

.selecteat {
    width: 100%;
    overflow: hidden;
}
.help{
    width: 100%;
    display: flex;
    justify-content: end;
}
.helpimg {
    position: absolute;
    width: 6%;
    right: 1%;
    top: 1%;
}

.first{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fir_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: -15vh;
}

.sloworder {
    font-size: 5vw;
    background-color: white;
    height: 14.5vh;
    margin-bottom: 5vh;
}
.basicorder {
    font-size: 5vw;
    background-color: white;
    height: 14.5vh;
    margin-top: 3vh;
}
@media screen and (min-width:1000px) {
    .helpimg {
        width: 3%;
        height: 5%;
        
    }
    
}