html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.all {
    display: flex;
    width: 100%;
    height: 100%;
}

.selecteat {
    width: 100%;
    overflow: hidden;
}
.help{
    width: 100%;
    display: flex;
    justify-content: end;
}
.helpimg {
    padding-top: 2%;
    padding-right: 2%;
}

.first{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fir_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: -15vh;
}

.sloworder {
    font-size: 5vw;
    background-color: white;
    height: 14.5vh;
    margin-bottom: 5vh;
    font-weight: bold;
}

.sloworder:active{
    background-color: skyblue;
    color: white;
    border: none;
}

.basicorder {
    font-size: 5vw;
    background-color: white;
    height: 14.5vh;
    font-weight: bold;
    margin-top: 3vh;
}

.basicorder:active{
    background-color: skyblue;
    color: white;
    border: none;
}
