html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.all {
    display: flex;
    width: 100%;
    height: 100%;
}

.selecteat {
    width: 100%;
    overflow: hidden;
}

.help {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}

.helping {
    padding-top: 2%;
    padding-right: 2%;
    width: 12%;
    height: 100%;
}

.first{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fir_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: -15vh;
}

.order button{
    border-radius: 15px;
    box-shadow: 7px 7px gray;
}

.takeAway {
    font-size: 5vw;
    background-color: white;
    height: 14.5vh;
    margin-bottom: 5vh;
    font-weight: bold;
}

.takeAway:active{
    background-color: skyblue;
    color: white;
    border: none;
}

.forHere {
    font-size: 5vw;
    background-color: white;
    height: 14.5vh;
    font-weight: bold;
    margin-top: 3vh;
}

.forHere:active{
    background-color: skyblue;
    color: white;
    border: none;
}
