.row {
    margin-bottom: 10px;
}

.menu_img_box {
    width: 38vw;
    height: var(width);
    padding: 10px;
    border: solid 2px black;
}

.menu_img_size {
    width: 100%;
}

.menu_explain {
    height: 100%;
    position: relative;
    border: solid 2px black;
}

.menu_explain_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

.menu_explain_content {
    margin: 1vw;
    font-weight: bold;
    font-size: 3vw;
}

.menu_title {
    font-size: 5vw;
}

.border_line {
    border-bottom: 2px solid black;
}

.modal-title {
    font-weight: bold;
}

.modal-dialog {
    max-width: 90%;
    max-height: 90%;
    height: 1000px;
}

.modal-content {
    height: 95vh;
    overflow: hidden;
    overflow-y: visible;
}

/*옵션*/
.option_box {
    border: 2px solid black;
    height: 40vh;
    padding: 2vw;
    overflow: hidden;
    overflow-y: visible;
}

/*상세 옵션*/
.option {
    border: 2px solid black;
    height: 10vh;
    min-height: 80px;
    margin-bottom: 2vh;
    padding: 0 10px;
    overflow: hidden;
    overflow-y: visible;
}

.option_name{
    margin: 0;
    font-weight: bold;
    font-size: 3vh;
}

.list-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    text-align: left;
  }

.list-group-item{
    border: none;
    padding: 1vh 2vh;
    min-width: 20px;
}

.form-check-input{
    border: solid 2px black;
}

.form-check-label{
    font-size: 2vh;
    font-weight: bold;
}

/*수량 체크 박스*/
.num_check{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.input-group{
    border: 2px solid black;
}

.form-control[readonly]{
    background-color: white;
    border-right: solid 2px black;
    border-left: solid 2px black;
}

.form-control{
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    color: black;
    padding:0;
}

.btn-outline-secondary{
    border: none;
    font-weight: bold;
    font-size: 4vw;
    color: black;
    padding: 2vw;
}



