html, body{
    margin: 0;
    padding: 0;
}

.self_modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes modalSlideDown {
    from {
        transform: translateY(-10%); /* 위에서 내려오는 시작 위치 */
    }
    to {
        transform: translateY(0); /* 아래로 내려온 상태 */
    }
}

.self_modal_all{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: modalSlideDown 0.5s ease forwards;
}

.self_modal_content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 70vw;
    border-radius: 10px;
    padding: 0;
    height: 40vh;
}

.self_modal_top{
    margin: 0;
    padding: 0 20px;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.self_modal_top h1{
    font-weight: 500;
}

p{
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.self_modal_body{
    margin: 0;
    padding: 0 20px;
    height: 65%;
    border-top: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
}

.self_modal_footer{
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.self_modal_footer button{
    background-color: #6c757d;
    color: white;
    font-size: 2.5vw;
    font-weight: 200;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px #6c757d;
    padding:0.375rem 0.75rem;
    width: auto;

}

.self_modal_footer button:hover{
    background-color: #5c636a;
    border-color: #5c636a;
}